
/*-----Core-----*/
:root {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    user-select: none;
}

/*-----Position-----*/
.left-align.hidden {
    left: -15vw;
}

.left-align {
    position: absolute;
    left: 1vw;
    transition: 0.25s ease-in-out;
}

.vertical-align {
    top: 50%;
    transform: translateY(-50%);
}

.window {
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    max-height: 50vh;
    width: 10vw;
    min-width: 125px;
    overflow: hidden;
}

/*-----General-----*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*#region-----Player List Display-----*/
table {
    display: grid;
    height: fit-content;
    border-top: 1px solid white;
}

caption {
    padding: 5px;
    position: sticky;
    top:0;
}

thead {
    border: 1px solid white;
    position: sticky;
}

thead b {
    text-align: center;
}

tbody {
    min-height: 100px;
    max-height: 40vh;
    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody>tr>td:first-of-type {
    text-align: right;
}

th:first-of-type,
td {
    border-right: 1px solid white;
    padding: 2px 2px;
}

tr {
    border-bottom: 1px solid white;
    vertical-align: middle;

    display: flex;
    justify-content: space-between;
}

td:first-of-type {
    flex-basis: 20%;
}

td:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 5px;
    width: 100%;
    overflow: hidden;
    overflow-wrap: anywhere;
}

/*#endregion----------*/

/*-----Scroll-bars-----*/

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border: transparent;
}