/*-----Core-----*/
:root {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    user-select: none;
}

body {
    overflow: hidden;
}

/*-----Position-----*/
.left-align.hidden {
    left: -65vw;
}

.left-align {
    position: absolute;
    left: 1vw;
    transition: 0.25s ease-in-out;
}

.right-align {
    position: absolute;
    right: 1vw;
    transition: 0.25s ease-in-out;
}

.right-align.hidden {
    right: -65vw;
}

.top-align {
    top: 1vh;
}

.vertical-align {
    top: 50%;
    transform: translateY(-50%);
}

.bottom-align {
    bottom: 1vh;
}

.window {
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    max-height: 50vh;
    width: 10vw;
    min-width: 125px;
    overflow: hidden;
}

/*-----General-----*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-gap-2 {
    grid-gap: 0.5rem;
}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*#region-----Player List Display-----*/
table {
    display: grid;
    height: fit-content;
    border-top: 1px solid white;
}

caption {
    padding: 5px;
    position: sticky;
    top: 0;
}

thead {
    border: 1px solid white;
    position: sticky;
}

thead b {
    text-align: center;
}

tbody {
    min-height: 100px;
    max-height: 40vh;
    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody>tr>td:first-of-type {
    text-align: right;
}

th:first-of-type,
td {
    border-right: 1px solid white;
    padding: 2px 2px;
}

tr {

    height: 2em;
    border-bottom: 1px solid white;
    vertical-align: middle;

    display: flex;
    justify-content: space-between;
}

td:first-of-type {
    flex-basis: 20%;
}

td:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 5px;
    width: 100%;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.in-party{
    color: green;
}

/*#endregion----------*/

/*#region Invite -----*/

#party-invites {
    list-style: none;
    text-align: center;

    max-height: 23vh;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
    margin-bottom: 0;
    overflow-y: scroll;
}

#party-invites li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    width: 20vw;
    transition: transform 0.5s cubic-bezier(.8, 1.36, .67, 1.03);
    flex-shrink: 0;
    position: relative;
}

#party-invites li p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#party-invites li.hidden {
    transform: translateY(100vh);
}

#party-invites li input {
    flex-basis: 50%;
}

.timeoutBar {
    width: 100%;
    position: absolute;
    bottom: 0px;
    transform: translateX(-50%);
    left: 50%;
    border-bottom: 3px solid rgb(3, 255, 3);
}

/*#endregion----------*/

/*-----Scroll-bars-----*/

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border: transparent;
}